# Лабораторна робота No4
## ФБ-21 Тютюннікова Віолета
### Структури для роботи з великими обсягами даних в Python
### *Мета: отримати навички роботи із структурами для зберігання в Python (python, numpy, pandas, numpy array, dataframe, timeit)*
----
## ( 1 РІВЕНЬ)
----

In [58]:
import pandas as pd
import numpy as np
import timeit
import seaborn as sns
import matplotlib.pyplot as plt
from scipy.stats import pearsonr, spearmanr
from scipy import stats
from sklearn.preprocessing import OneHotEncoder
print("Все встановлено!")

Все встановлено!

#### Працюватимемо з датафреймом "Individual household electric power consumption Data Set". Спочатку завантажуємо дані використовуючи Pandas Dataframe:

In [2]:
start = timeit.default_timer()
names = ['date', 'time', 'global_active_power', 'global_reactive_power', 'voltage', 'global_intensity', 'sub_metering_1', 
                'sub_metering_2', 'sub_metering_3']

df = pd.read_csv('household_power_consumption.txt', sep=';', header=0, names= names)
df.replace('?', np.nan, inplace=True)
df.dropna(inplace=True)
df[['global_active_power', 'global_reactive_power', 'voltage', 'global_intensity', 'sub_metering_1', 
                'sub_metering_2', 'sub_metering_3']] = df[['global_active_power', 'global_reactive_power', 'voltage', 'global_intensity', 'sub_metering_1', 
                'sub_metering_2', 'sub_metering_3']].astype(float)
stop = timeit.default_timer()
print("\nЧас виконання: ", stop - start)
#print(df.info())
print(df.head())

/var/folders/sb/sl366d996ss4kv01f83k587h0000gn/T/ipykernel_76119/1301812351.py:5: DtypeWarning: Columns (2,3,4,5,6,7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('household_power_consumption.txt', sep=';', header=0, names= names)

Час виконання:  2.567833209177479
         date      time  global_active_power  global_reactive_power  voltage  \
0  16/12/2006  17:24:00                4.216                  0.418   234.84
1  16/12/2006  17:25:00                5.360                  0.436   233.63
2  16/12/2006  17:26:00                5.374                  0.498   233.29
3  16/12/2006  17:27:00                5.388                  0.502   233.74
4  16/12/2006  17:28:00                3.666                  0.528   235.68

   global_intensity  sub_metering_1  sub_metering_2  sub_metering_3
0              18.4             0.0             1.0            17.0
1              23.0             0.0             1.0            16.0
2              23.0             0.0             2.0            17.0
3              23.0             0.0             1.0            17.0
4              15.8             0.0             1.0            17.0

#### Тепер завантажуємо з використанням Numpy array:

In [3]:
start = timeit.default_timer()
dtype = [('date', 'U10'), ('time', 'U8'), ('global_active_power', float), ('global_reactive_power', float), ('voltage', float), ('global_intensity', float), ('sub_metering_1', float), ('sub_metering_2', float), ('sub_metering_3', float)]
data = np.genfromtxt('household_power_consumption.txt', delimiter=';', skip_header=1, dtype=dtype, encoding=None, filling_values=0)


stop = timeit.default_timer()
print("\nЧас виконання: ", stop - start)
print(data[:5])

Час виконання:  6.470874250167981
[('16/12/2006', '17:24:00', 4.216, 0.418, 234.84, 18.4, 0., 1., 17.)
 ('16/12/2006', '17:25:00', 5.36 , 0.436, 233.63, 23. , 0., 1., 16.)
 ('16/12/2006', '17:26:00', 5.374, 0.498, 233.29, 23. , 0., 2., 17.)
 ('16/12/2006', '17:27:00', 5.388, 0.502, 233.74, 23. , 0., 1., 17.)
 ('16/12/2006', '17:28:00', 3.666, 0.528, 235.68, 15.8, 0., 1., 17.)]

---
## 1. Обрати всі домогосподарства, у яких загальна активна споживана потужність перевищує 5 кВт.
---

#### Спочатку зробимо це використовуючи pandas dataframe:

In [4]:
start = timeit.default_timer()
lvl1_t1_pandas = df[df['global_active_power'] > 5]
stop = timeit.default_timer()

print("\nЧас виконання: ", stop - start)
print(lvl1_t1_pandas.head())

Час виконання:  0.0077939999755471945
          date      time  global_active_power  global_reactive_power  voltage  \
1   16/12/2006  17:25:00                5.360                  0.436   233.63
2   16/12/2006  17:26:00                5.374                  0.498   233.29
3   16/12/2006  17:27:00                5.388                  0.502   233.74
11  16/12/2006  17:35:00                5.412                  0.470   232.78
12  16/12/2006  17:36:00                5.224                  0.478   232.99

    global_intensity  sub_metering_1  sub_metering_2  sub_metering_3
1               23.0             0.0             1.0            16.0
2               23.0             0.0             2.0            17.0
3               23.0             0.0             1.0            17.0
11              23.2             0.0             1.0            17.0
12              22.4             0.0             1.0            16.0

#### Тепер зробимо те саме з використанням numpy array:

In [5]:
start = timeit.default_timer()
lvl1_t1_numpy = np.where(data['global_active_power'] > 5)
filtered_t1 = data[lvl1_t1_numpy]
stop = timeit.default_timer()

print("\nЧас виконання: ", stop - start)
print(filtered_t1[0:5])

Час виконання:  0.030038833850994706
[('16/12/2006', '17:25:00', 5.36 , 0.436, 233.63, 23. , 0., 1., 16.)
 ('16/12/2006', '17:26:00', 5.374, 0.498, 233.29, 23. , 0., 2., 17.)
 ('16/12/2006', '17:27:00', 5.388, 0.502, 233.74, 23. , 0., 1., 17.)
 ('16/12/2006', '17:35:00', 5.412, 0.47 , 232.78, 23.2, 0., 1., 17.)
 ('16/12/2006', '17:36:00', 5.224, 0.478, 232.99, 22.4, 0., 1., 16.)]

---
## 2. Обрати всі домогосподарства, у яких вольтаж перевищую 235 В.
---

#### Робимо використовуючи pandas dataframe:

In [6]:
start = timeit.default_timer()
lvl1_t2_pandas = df[df['voltage'] > 235]
stop = timeit.default_timer()

print("\nЧас виконання: ", stop - start)
print(lvl1_t2_pandas.head())

Час виконання:  0.08106379210948944
          date      time  global_active_power  global_reactive_power  voltage  \
4   16/12/2006  17:28:00                3.666                  0.528   235.68
5   16/12/2006  17:29:00                3.520                  0.522   235.02
6   16/12/2006  17:30:00                3.702                  0.520   235.09
7   16/12/2006  17:31:00                3.700                  0.520   235.22
14  16/12/2006  17:38:00                4.054                  0.422   235.24

    global_intensity  sub_metering_1  sub_metering_2  sub_metering_3
4               15.8             0.0             1.0            17.0
5               15.0             0.0             2.0            17.0
6               15.8             0.0             1.0            17.0
7               15.8             0.0             1.0            17.0
14              17.6             0.0             1.0            17.0

#### Використовуючи numpy array:

In [7]:
start = timeit.default_timer()
lvl1_t2_numpy = np.where(data['voltage'] > 235)
filtered_t2 = data[lvl1_t2_numpy]
stop = timeit.default_timer()

print("\nЧас виконання: ", stop - start)
print(filtered_t2[0:5])

Час виконання:  0.20350029109977186
[('16/12/2006', '17:28:00', 3.666, 0.528, 235.68, 15.8, 0., 1., 17.)
 ('16/12/2006', '17:29:00', 3.52 , 0.522, 235.02, 15. , 0., 2., 17.)
 ('16/12/2006', '17:30:00', 3.702, 0.52 , 235.09, 15.8, 0., 1., 17.)
 ('16/12/2006', '17:31:00', 3.7  , 0.52 , 235.22, 15.8, 0., 1., 17.)
 ('16/12/2006', '17:38:00', 4.054, 0.422, 235.24, 17.6, 0., 1., 17.)]

---
## 3. Обрати всі домогосподарства, у яких сила струму лежить в межах 19-20 А, для них виявити ті, у яких пральна машина та холодильних споживають більше, ніж бойлер та кондиціонер.
---

#### Зробимо використовуючи pandas dataframe:

In [8]:
start = timeit.default_timer()
lvl1_t3_pandas = (df['global_intensity'] >= 19) & (df['global_intensity'] <= 20) 
condition3 = df[lvl1_t3_pandas & (df['sub_metering_2'] > df['sub_metering_3'])]
stop = timeit.default_timer()

print("\nЧас виконання: ", stop - start)
print(condition3.head())

Час виконання:  0.009452624944970012
           date      time  global_active_power  global_reactive_power  \
45   16/12/2006  18:09:00                4.464                  0.136
460  17/12/2006  01:04:00                4.582                  0.258
464  17/12/2006  01:08:00                4.618                  0.104
475  17/12/2006  01:19:00                4.636                  0.140
476  17/12/2006  01:20:00                4.634                  0.152

     voltage  global_intensity  sub_metering_1  sub_metering_2  sub_metering_3
45    234.66              19.0             0.0            37.0            16.0
460   238.08              19.6             0.0            13.0             0.0
464   239.61              19.6             0.0            27.0             0.0
475   237.37              19.4             0.0            36.0             0.0
476   237.17              19.4             0.0            35.0             0.0

#### Тепер зробимо використовуючи numpy array:

In [9]:
start = timeit.default_timer()
lvl1_t3_numpy = (data['global_intensity'] >= 19) & (data['global_intensity'] <= 20) & (data['sub_metering_2'] > data['sub_metering_3'])
condition3n = data[lvl1_t3_numpy]
stop = timeit.default_timer()

print("\nЧас виконання: ", stop - start)
print(condition3n[0:5])

Час виконання:  0.031883500050753355
[('16/12/2006', '18:09:00', 4.464, 0.136, 234.66, 19. , 0., 37., 16.)
 ('17/12/2006', '01:04:00', 4.582, 0.258, 238.08, 19.6, 0., 13.,  0.)
 ('17/12/2006', '01:08:00', 4.618, 0.104, 239.61, 19.6, 0., 27.,  0.)
 ('17/12/2006', '01:19:00', 4.636, 0.14 , 237.37, 19.4, 0., 36.,  0.)
 ('17/12/2006', '01:20:00', 4.634, 0.152, 237.17, 19.4, 0., 35.,  0.)]

---
## 4. Обрати випадковим чином 500000 домогосподарств (без повторів елементів вибірки), для них обчислити середні величини усіх 3-х груп споживання електричної енергії.
---

#### Використовуючи pandas dataframe:

In [10]:
start = timeit.default_timer()
random = np.random.choice(len(df), size=500000, replace=False)
random_df = df.iloc[random]
lvl1_t4_pandas = random_df[['sub_metering_1', 'sub_metering_2', 'sub_metering_3']].mean()
stop = timeit.default_timer()

print("\nЧас виконання: ", stop - start)
print(lvl1_t4_pandas)

Час виконання:  0.09531716699711978
sub_metering_1    1.116758
sub_metering_2    1.295614
sub_metering_3    6.462768
dtype: float64

#### З використанням numpy array:

In [11]:
start = timeit.default_timer()
random_numpy = np.random.choice(len(data), size=500000, replace=False)
random_data = data[random_numpy]

sub_metering_1 = random_data['sub_metering_1']
sub_metering_2 = random_data['sub_metering_2']
sub_metering_3 = random_data['sub_metering_3']

lvl1_t4_numpy1 = np.mean(sub_metering_1)
lvl1_t4_numpy2 = np.mean(sub_metering_2)
lvl1_t4_numpy3 = np.mean(sub_metering_3)
stop = timeit.default_timer()

print("\nЧас виконання: ", stop - start)

print("sub_metering_1:", lvl1_t4_numpy1)
print("sub_metering_2:", lvl1_t4_numpy2)
print("sub_metering_3:", lvl1_t4_numpy3)

Час виконання:  0.1289025000296533
sub_metering_1: 1.11302
sub_metering_2: 1.287674
sub_metering_3: 6.377734

---
## 5. Обрати ті домогосподарства, які після 18-00 споживають понад 6 кВт за хвилину в середньому, серед відібраних визначити ті, у яких основне споживання електроенергії у вказаний проміжок часу припадає на пральну машину, сушарку, холодильник та освітлення (група 2 є найбільшою), а потім обрати кожен третій результат із першої половини та кожен четвертий результат із другої половини.
---

#### Робимо використовуючи pandas dataframe;

In [12]:
start = timeit.default_timer()
lvl1_t5_pandas = df[(df['time'] > '18:00:00') & (df['global_active_power'] > 6)]

lvl1_t5_pandas = lvl1_t5_pandas[(lvl1_t5_pandas['sub_metering_2'] > lvl1_t5_pandas['sub_metering_1']) & 
                          (lvl1_t5_pandas['sub_metering_2'] > lvl1_t5_pandas['sub_metering_3'])]

first = lvl1_t5_pandas.iloc[:len(lvl1_t5_pandas)//2:3]
second = lvl1_t5_pandas.iloc[len(lvl1_t5_pandas)//2::4]
result = pd.concat([first, second])
stop = timeit.default_timer()

print("\nЧас виконання: ", stop - start)
print(result.head())

Час виконання:  0.059775790898129344
             date      time  global_active_power  global_reactive_power  \
41     16/12/2006  18:05:00                6.052                  0.192
44     16/12/2006  18:08:00                6.308                  0.116
17494  28/12/2006  20:58:00                6.386                  0.374
17498  28/12/2006  21:02:00                8.088                  0.262
17501  28/12/2006  21:05:00                7.230                  0.152

       voltage  global_intensity  sub_metering_1  sub_metering_2  \
41      232.93              26.2             0.0            37.0
44      232.25              27.0             0.0            36.0
17494   236.63              27.0             1.0            36.0
17498   235.50              34.4             1.0            72.0
17501   235.22              30.6             1.0            73.0

       sub_metering_3
41               17.0
44               17.0
17494            17.0
17498            17.0
17501            17.0

#### Використовуючи numpy array:

In [13]:
start = timeit.default_timer()
filtered_data = data[(data['time'] > '18:00:00') & (data['global_active_power'] > 6)]
filtered_data = filtered_data[(filtered_data['sub_metering_2'] > filtered_data['sub_metering_1']) & (filtered_data['sub_metering_2'] > filtered_data['sub_metering_3'])]

first_half_indices = np.arange(0, len(filtered_data)//2, 3)
second_half_indices = np.arange(len(filtered_data)//2, len(filtered_data), 4)

first_half = filtered_data[first_half_indices]
second_half = filtered_data[second_half_indices]

result2 = np.concatenate([first_half, second_half])

stop = timeit.default_timer()

print("\nЧас виконання: ", stop - start)
print(result2[:5])

Час виконання:  0.02156979194842279
[('16/12/2006', '18:05:00', 6.052, 0.192, 232.93, 26.2, 0., 37., 17.)
 ('16/12/2006', '18:08:00', 6.308, 0.116, 232.25, 27. , 0., 36., 17.)
 ('28/12/2006', '20:58:00', 6.386, 0.374, 236.63, 27. , 1., 36., 17.)
 ('28/12/2006', '21:02:00', 8.088, 0.262, 235.5 , 34.4, 1., 72., 17.)
 ('28/12/2006', '21:05:00', 7.23 , 0.152, 235.22, 30.6, 1., 73., 17.)]

----
## ( 2 РІВЕНЬ)
----

#### Першим кроком є вибір датасету. Було обрано датасет "Automobile", який відповідає всім вимогам. У датасеті  наявні наступні колонки:
#### ‣symboling *(Оцінка ризику. Це категоріальна оцінка, яка вказує на ступінь ризику страхового випадку. Від'ємні значення означають, що автомобіль має менш ніж середній ризик, а позитивні значення - більший ризик.)*
#### ‣normalized-losses: *(Нормалізовані збитки. Це числове значення, яке вказує на середній обсяг збитків страхових виплат за рік для цього типу автомобіля)*        
#### ‣make: *(Виробник автомобіля)*                    
#### ‣fuel-type: *(Тип палива, яке використовується в автомобілі (дизель або бензин))*             
#### ‣aspiration: *(Тип наддува двигуна (стандартний або турбонаддув)*         
#### ‣num-of-doors: *(Кількість дверей автомобіля)*     
#### ‣body-style: *(Стиль кузова автомобіля)*      
#### ‣drive-wheels: *(Тип приводу коліс (4wd - повний привід, fwd - передній привід, rwd - задній привід))*           
#### ‣engine-location: *( Розташування двигуна (переднє або заднє))*       
#### ‣wheel-base: *(Відстань між передньою і задньою віссю автомобіля)*         
#### ‣length: *(Довжина)*                
#### ‣width: *(Ширина)*      
#### ‣height: *(Висота)*               
#### ‣curb-weight: *(Вага автомобіля без пасажирів або вантажу)*        
#### ‣engine-type: *(Тип двигуна)*       
#### ‣num-of-cylinders: *(Кількість циліндрів у двигуні)*        
#### ‣engine-size: *(Об'єм двигуна)*              
#### ‣fuel-system: *(Система подачі палива до двигуна)*           
#### ‣bore: *(Діаметр поршня)*       
#### ‣stroke: *(Хід поршня)*                 
#### ‣compression-ratio: *(Стиснення паливно-повітряної суміші у циліндрах)*        
#### ‣horsepower: *(Кінські сили (потужність двигуна))* 
#### ‣peak-rpm: *(Максимальна обертова частота)*            
#### ‣city-mpg: *(Розхід палива у місті )*       
#### ‣highway-mpg: *(Розхід палива на трасі)*
#### ‣price: *(Ціна автомобіля)*

In [16]:
headers = ['symboling','normalized-losses','make','fuel-type','aspiration','num-of-doors','body-style','drive-wheels','engine-location','wheel-base',
           'length','width','height','curb-weight','engine-type','num-of-cylinders','engine-size','fuel-system','bore','stroke','compression-ratio',
           'horsepower','peak-rpm','city-mpg','highway-mpg','price']
df2 = pd.read_csv('automobile/imports-85.data', names=headers)
print(df2.head())

   symboling normalized-losses         make fuel-type aspiration num-of-doors  \
0          3                 ?  alfa-romero       gas        std          two
1          3                 ?  alfa-romero       gas        std          two
2          1                 ?  alfa-romero       gas        std          two
3          2               164         audi       gas        std         four
4          2               164         audi       gas        std         four

    body-style drive-wheels engine-location  wheel-base  ...  engine-size  \
0  convertible          rwd           front        88.6  ...          130
1  convertible          rwd           front        88.6  ...          130
2    hatchback          rwd           front        94.5  ...          152
3        sedan          fwd           front        99.8  ...          109
4        sedan          4wd           front        99.4  ...          136

   fuel-system  bore  stroke compression-ratio horsepower  peak-rpm city-mpg  \
0         mpfi  3.47    2.68               9.0        111      5000       21
1         mpfi  3.47    2.68               9.0        111      5000       21
2         mpfi  2.68    3.47               9.0        154      5000       19
3         mpfi  3.19    3.40              10.0        102      5500       24
4         mpfi  3.19    3.40               8.0        115      5500       18

  highway-mpg  price
0          27  13495
1          27  16500
2          26  16500
3          30  13950
4          22  17450

[5 rows x 26 columns]

In [32]:
data2 = np.genfromtxt('automobile/imports-85.data', delimiter=',', dtype=str, encoding=None)

# Output the first 5 rows of data
print(data2[:5])

[['3' '?' 'alfa-romero' 'gas' 'std' 'two' 'convertible' 'rwd' 'front'
  '88.60' '168.80' '64.10' '48.80' '2548' 'dohc' 'four' '130' 'mpfi'
  '3.47' '2.68' '9.00' '111' '5000' '21' '27' '13495']
 ['3' '?' 'alfa-romero' 'gas' 'std' 'two' 'convertible' 'rwd' 'front'
  '88.60' '168.80' '64.10' '48.80' '2548' 'dohc' 'four' '130' 'mpfi'
  '3.47' '2.68' '9.00' '111' '5000' '21' '27' '16500']
 ['1' '?' 'alfa-romero' 'gas' 'std' 'two' 'hatchback' 'rwd' 'front'
  '94.50' '171.20' '65.50' '52.40' '2823' 'ohcv' 'six' '152' 'mpfi'
  '2.68' '3.47' '9.00' '154' '5000' '19' '26' '16500']
 ['2' '164' 'audi' 'gas' 'std' 'four' 'sedan' 'fwd' 'front' '99.80'
  '176.60' '66.20' '54.30' '2337' 'ohc' 'four' '109' 'mpfi' '3.19' '3.40'
  '10.00' '102' '5500' '24' '30' '13950']
 ['2' '164' 'audi' 'gas' 'std' 'four' 'sedan' '4wd' 'front' '99.40'
  '176.60' '66.40' '54.30' '2824' 'ohc' 'five' '136' 'mpfi' '3.19' '3.40'
  '8.00' '115' '5500' '18' '22' '17450']]

---
## 1. Поборотися із зниклими даними.
---
#### Шукаємо стовбці зі зниклими даними (позначаються "?").

In [ ]:
nan = df2.columns[df.eq('?').any()]

print("Зниклі дані наявні у:", nan)

#### Отже, ми визначили стовбці з втраченими даними.
#### Перший спосіб позбутися втрачених даних це просто видалити рядки, що їх містять. Зробимо це використовуючи dataframe (робимо на копії початкового датафрейму, щоб не впливати на подальші варіанти обробки втрачених даних):

In [36]:
df_copy1 = df2.copy()
start = timeit.default_timer()

df_copy1.replace('?', np.nan, inplace=True)
df_copy1.dropna(inplace=True)

stop = timeit.default_timer()
print("\nЧас виконання: ", stop - start)

print(df_copy1.head())

Час виконання:  0.0020894589833915234
    symboling normalized-losses  make fuel-type aspiration num-of-doors  \
3           2               164  audi       gas        std         four
4           2               164  audi       gas        std         four
6           1               158  audi       gas        std         four
8           1               158  audi       gas      turbo         four
10          2               192   bmw       gas        std          two

   body-style drive-wheels engine-location  wheel-base  ...  engine-size  \
3       sedan          fwd           front        99.8  ...          109
4       sedan          4wd           front        99.4  ...          136
6       sedan          fwd           front       105.8  ...          136
8       sedan          fwd           front       105.8  ...          131
10      sedan          rwd           front       101.2  ...          108

    fuel-system  bore  stroke compression-ratio horsepower  peak-rpm city-mpg  \
3          mpfi  3.19    3.40              10.0        102      5500       24
4          mpfi  3.19    3.40               8.0        115      5500       18
6          mpfi  3.19    3.40               8.5        110      5500       19
8          mpfi  3.13    3.40               8.3        140      5500       17
10         mpfi  3.50    2.80               8.8        101      5800       23

   highway-mpg  price
3           30  13950
4           22  17450
6           25  17710
8           20  23875
10          29  16430

[5 rows x 26 columns]

#### Тепер також видалимо рядки, в якіх наявні втрачені дані використовуючи numpy array.

In [34]:
data2[data2 == '?'] = np.nan

data2_clean = data2[~np.any(data2 == "nan", axis=1)]

print(data2_clean[:5])

[['2' '164' 'audi' 'gas' 'std' 'four' 'sedan' 'fwd' 'front' '99.80'
  '176.60' '66.20' '54.30' '2337' 'ohc' 'four' '109' 'mpfi' '3.19' '3.40'
  '10.00' '102' '5500' '24' '30' '13950']
 ['2' '164' 'audi' 'gas' 'std' 'four' 'sedan' '4wd' 'front' '99.40'
  '176.60' '66.40' '54.30' '2824' 'ohc' 'five' '136' 'mpfi' '3.19' '3.40'
  '8.00' '115' '5500' '18' '22' '17450']
 ['1' '158' 'audi' 'gas' 'std' 'four' 'sedan' 'fwd' 'front' '105.80'
  '192.70' '71.40' '55.70' '2844' 'ohc' 'five' '136' 'mpfi' '3.19' '3.40'
  '8.50' '110' '5500' '19' '25' '17710']
 ['1' '158' 'audi' 'gas' 'turbo' 'four' 'sedan' 'fwd' 'front' '105.80'
  '192.70' '71.40' '55.90' '3086' 'ohc' 'five' '131' 'mpfi' '3.13' '3.40'
  '8.30' '140' '5500' '17' '20' '23875']
 ['2' '192' 'bmw' 'gas' 'std' 'two' 'sedan' 'rwd' 'front' '101.20'
  '176.80' '64.80' '54.30' '2395' 'ohc' 'four' '108' 'mpfi' '3.50' '2.80'
  '8.80' '101' '5800' '23' '29' '16430']]

#### Тепер вирішимо проблему з втраченими даними шляхом їх заповнення. Для цього будемо знаходити моду кожного стовбчика, у якому наявні втрачені дані (і відповідно замінемо усі nan на значення моди). Спочатку робимо це використовуючи pandas dataframe:

In [37]:
columns = ['normalized-losses', 'num-of-doors', 'bore', 'stroke', 'horsepower', 'peak-rpm', 'price']
start = timeit.default_timer()
df2.replace('?', np.nan, inplace=True)

for column in columns:
    df2[column] = df2[column].fillna(df2[column].mode()[0])
stop = timeit.default_timer()

print("\nЧас виконання: ", stop - start)
print(df2.head())

Час виконання:  0.005625333869829774
   symboling normalized-losses         make fuel-type aspiration num-of-doors  \
0          3               161  alfa-romero       gas        std          two
1          3               161  alfa-romero       gas        std          two
2          1               161  alfa-romero       gas        std          two
3          2               164         audi       gas        std         four
4          2               164         audi       gas        std         four

    body-style drive-wheels engine-location  wheel-base  ...  engine-size  \
0  convertible          rwd           front        88.6  ...          130
1  convertible          rwd           front        88.6  ...          130
2    hatchback          rwd           front        94.5  ...          152
3        sedan          fwd           front        99.8  ...          109
4        sedan          4wd           front        99.4  ...          136

   fuel-system  bore  stroke compression-ratio horsepower  peak-rpm city-mpg  \
0         mpfi  3.47    2.68               9.0        111      5000       21
1         mpfi  3.47    2.68               9.0        111      5000       21
2         mpfi  2.68    3.47               9.0        154      5000       19
3         mpfi  3.19    3.40              10.0        102      5500       24
4         mpfi  3.19    3.40               8.0        115      5500       18

  highway-mpg  price
0          27  13495
1          27  16500
2          26  16500
3          30  13950
4          22  17450

[5 rows x 26 columns]

#### Тепер використаємо numpy array:

In [67]:
import numpy as np

# Функція для знаходження моди кожного значення в масиві
def find_modes(subarrays):
    modes = []
    for column in subarrays.T:
        # Відфільтруємо значення NaN
        if np.issubdtype(column.dtype, np.number):
            column_without_nan = column[~np.isnan(column)]
        else:
            column_without_nan = column[~(column == 'nan')]
        unique, counts = np.unique(column_without_nan, return_counts=True)
        mode_index = np.argmax(counts)
        mode_value = unique[mode_index]
        modes.append(mode_value)
    return modes
def replace_missing_with_modes(subarrays, modes):
    for i, column in enumerate(subarrays.T):
        # Знаходимо індекси пропущених значень
        missing_indices = np.where(column == 'nan')[0]
        # Замінюємо пропущені значення модами
        column[missing_indices] = modes[i]

# Знаходимо моди кожного значення в масиві
modes = find_modes(data2)

# Замінюємо пропущені значення на моди кожного стовпця
replace_missing_with_modes(data2, modes)

print("Оновлений масив замість 'nan' значеннями мод:")
print(data2[:5])

Оновлений масив замість 'nan' значеннями мод:
[['3' '161' 'alfa-romero' 'gas' 'std' 'two' 'convertible' 'rwd' 'front'
  '88.60' '168.80' '64.10' '48.80' '2548' 'dohc' 'four' '130' 'mpfi'
  '3.47' '2.68' '9.00' '111' '5000' '21' '27' '13495']
 ['3' '161' 'alfa-romero' 'gas' 'std' 'two' 'convertible' 'rwd' 'front'
  '88.60' '168.80' '64.10' '48.80' '2548' 'dohc' 'four' '130' 'mpfi'
  '3.47' '2.68' '9.00' '111' '5000' '21' '27' '16500']
 ['1' '161' 'alfa-romero' 'gas' 'std' 'two' 'hatchback' 'rwd' 'front'
  '94.50' '171.20' '65.50' '52.40' '2823' 'ohcv' 'six' '152' 'mpfi'
  '2.68' '3.47' '9.00' '154' '5000' '19' '26' '16500']
 ['2' '164' 'audi' 'gas' 'std' 'four' 'sedan' 'fwd' 'front' '99.80'
  '176.60' '66.20' '54.30' '2337' 'ohc' 'four' '109' 'mpfi' '3.19' '3.40'
  '10.00' '102' '5500' '24' '30' '13950']
 ['2' '164' 'audi' 'gas' 'std' 'four' 'sedan' '4wd' 'front' '99.40'
  '176.60' '66.40' '54.30' '2824' 'ohc' 'five' '136' 'mpfi' '3.19' '3.40'
  '8.00' '115' '5500' '18' '22' '17450']]
Моди кожного значення (без NaN):
['0', '161', 'toyota', 'gas', 'std']

|   Завдання  | Pandas      | Numpy Array |
|-------------|-------------|-------------|
| Завантаження даних   | 2.663    | 6.350    |
| Завдання №1    | 0.055    | 0.025    |
| Завдання №2    | 0.132    | 0.275    |
| Завдання №3   | 0.053   | 0.042   |
| Завдання №4   | 0.132   | 0.160   |
| Завдання №5   | 0.104   | 0.086   |
| Завдання №6   | Ячейка 20   | Ячейка 21   |
| Ячейка 22   | Ячейка 23   | Ячейка 24   |
| Ячейка 25   | Ячейка 26   | Ячейка 27   |
| Ячейка 28   | Ячейка 29   | Ячейка 30   |
| Ячейка 31   | Ячейка 32   | Ячейка 33   |
| Ячейка 34   | Ячейка 35   | Ячейка 36   |
| Ячейка 37   | Ячейка 38   | Ячейка 39   |
| Ячейка 40   | Ячейка 41   | Ячейка 42   |
| Ячейка 43   | Ячейка 44   | Ячейка 45   |
| Ячейка 46   | Ячейка 47   | Ячейка 48   |

In [59]:
m = stats.mode(data2)
print(m)

TypeError: Argument `a` is not recognized as numeric. Support for input that cannot be coerced to a numeric array was deprecated in SciPy 1.9.0 and removed in SciPy 1.11.0. Please consider `np.unique`.